@page "/todo"
@using Test.Web.Data

<h3>Todo (@_items.Count(item => !item.IsDone))</h3>

<ul>
    @foreach (var item in _items)
    {
        <li>
            <div style="display: inline">@item.Title (@item.Id)</div>
            <span @onclick="() => item.IsDone = !item.IsDone" class="oi @(item.IsDone ? "oi-check" : "oi-x")"></span>
            <span @onclick="() => _editorState = item" class="oi oi-pencil"></span>
        </li>
    }
</ul>

@if (IsEditing())
{
    <TodoEditor item="@_editorState" OnSaved="@AddTodo" OnClose="@OnClose"/>
}
else
{
    <button @onclick="() => _editorState = new()">Add new</button>
}

@code {

    [Inject]
    private AppDbCtx Db { get; set; }

    private List<TodoItem> _items = new();

    private TodoItem? _editorState = null;

    private bool IsEditing() => _editorState != null;

    protected override Task OnInitializedAsync()
    {
        _items = Db.TodoItems.OrderByDescending(item => item.Created).ToList();
        return base.OnInitializedAsync();
    }

    private Task OnClose()
    {
        _editorState = null;
        StateHasChanged();
        return Task.CompletedTask;
    }
    
    private Task AddTodo(TodoItem item)
    {
        var existingIndex = _items.FindIndex(listItem => listItem.Id == item.Id);
        if (existingIndex != -1)
        {
            _items[existingIndex] = item;
        }
        else
        {
            _items.Insert(0, item);
        }
        _editorState = null;
        StateHasChanged();
        return Task.CompletedTask;
    }

}