@page "/todo"
@using Test.Web.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options

<h3>Todo (@items.Count(item => !item.IsDone))</h3>

<ul>
    @foreach (var item in items)
    {
        <li>
            <div style="display: inline">@item.Title (@item.Id)</div>
            <span @onclick="() => item.IsDone = !item.IsDone" class="oi @(item.IsDone ? "oi-check" : "oi-x")"></span>
            <span @onclick="() => _editorState = item" class="oi oi-pencil"></span>
        </li>
    }
</ul>

@if (IsEditing())
{
    <TodoEditor item="@_editorState" onsave="@AddTodo" onclose="() => _editorState = null"/>
}
else
{
    <button @onclick="() => _editorState = new()">Add new</button>
    <button @onclick="Save">Save all changes</button>
}

@code {

    [Inject]
    private AppDbCtx db { get; set; }

    private List<TodoItem> items = new();
    private string newTodo = "";

    private TodoItem? _editorState = null;

    private bool IsEditing() => _editorState != null;

    protected override Task OnInitializedAsync()
    {
        items = db.TodoItems.OrderByDescending(item => item.Created).ToList();
        return base.OnInitializedAsync();
    }

    private void AddTodo(TodoItem item)
    {
        if (string.IsNullOrWhiteSpace(item.Title)) return;

        item = item.Id == null ? db.Add(item).Entity : db.Update(item).Entity;

        try
        {
            if (db.SaveChanges() != 1)
            {
                Console.WriteLine("Failed to save a new todo item");
            }
        }
        catch (DbUpdateException e)
        {
            Console.WriteLine($"Failed to save a new todo item: {e}");
        }

        var existingIndex = items.FindIndex(listItem => listItem.Id == item.Id);
        if (existingIndex != -1)
        {
            items[existingIndex] = item;
        }
        else
        {
            items.Insert(0, item);
        }
        _editorState = null;
        StateHasChanged();
    }

    private void Save()
    {
        db.SaveChanges();
    }

}